<!-- 
functions - <button type="button" (click)="getData('Anil', 546464)">Add</button>
<br>
<br>
events 
<br>
<br>
<input type="text" placeholder="event keyup" #box (keyup)="getValue(box.value)"/>
<input type="text" placeholder="event keyup" #box1 (keydown)="getValue(box1.value)"/>
<input type="text" placeholder="event keyup" #box2 (blur)="getValue(box2.value)"/>
<input type="text" placeholder="input keyup" #box3 (input)="getValue(box3.placeholder)"/>
<h1 (mouseover)="getHover()">hover event</h1>
<br>
<input type="text" placeholder="GET INPUT" #box4 />
<button (click)="getInput(box4.value)">test</button>
<p>{{fetchInput}}</p>

<p>counter</p>
<button (click)="counter('minus')">--</button>
{{count}}
<button (click)="counter('add')">++</button> -->

<!-- step-by-setp (sbs)- 12 -->
<!-- <app-login></app-login> -->

<!-- sbs- 13 property binding work on boolean values also -->
<!-- <input type="text" name="user name" [value]="name" [disabled]="disabled" />
<br>
<input type="text" name="user name" value="{{name}}" disabled="{{disabled}}" /> -->

<!-- sbs- 14 if else -->
